<script setup lang="ts">
import { useConfirmStore } from "@/stores/confirm";
import { useProductStore } from "@/stores/product";

const comfirmStore = useConfirmStore();
const productStore = useProductStore();
</script>

<template>
  <v-dialog v-model="comfirmStore.isShow" width="auto">
    <v-card>
      <v-card-text> คุณต้องการลบข้อมูลนี้หรือไม่ </v-card-text>
      <v-card-actions style="justify-content: center">
        <v-btn
          color="green"
          @click="comfirmStore.acceptConfirm(comfirmStore.Id!)"
          >ตกลง</v-btn
        >
        <v-btn color="red" @click="comfirmStore.isShow = false">ยกเลิก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
